.about-container {
  margin-top: 15rem;
  margin-bottom: 25rem;

  .navbar__link--active {
    overflow: hidden;
    border-bottom: 3px solid #395ab0;
    transition: border-bottom 0.5s ease 0s;
  }
}
