.contacts-container {
  background-color: #161616;
  padding-top: 5rem;
  // margin-top: 10rem;
  height: 300px;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 120%);
  @media (max-width: 902px) {
    height: 50vh;
  }
  @media (max-width: 490px) {
    height: 60vh;
  }
  @media (max-width: 411px) {
    height: 67vh;
  }
  @media (max-width: 414px) {
    height: 67vh;
  }
  @media (max-width: 320px) {
    height: 90vh;
  }
  @media (max-width: 375px) {
    height: 470px;
  }
  .contacts-content {
    @media (max-width: 1250px) {
      margin: 0 8rem;
    }
    @media (max-width: 902px) {
      display: flex;
      flex-direction: column;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0 3rem;
    }
    @media (max-width: 375px) {
      padding-top: 6rem;
      margin: 0 1rem;
    }
    @media (max-width: 320px) {
      padding-top: 3rem;
      margin: 0 1rem;
    }
    padding-top: 4rem;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;

    .footer-col-1 {
      color: white;

      .footer-title {
        font-size: 3rem;
        font-weight: 500;
        @media (max-width: 975px) {
          font-size: 2.3rem;
        }
        @media (max-width: 320px) {
          font-size: 1.8rem;
          margin: 0;
        }
      }
    }

    .footer-col-2 {
      .icon-list {
        @media (max-width: 902px) {
          margin: 0;
          padding: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        padding-top: 0;
        .icon-list__item {
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      ul a {
        text-decoration: none;
        color: rgb(185, 184, 184);
      }
      a {
        margin-top: 1rem;
        font-size: 1.1rem;
      }
    }

    .link:hover {
      color: rgb(255, 255, 255);
      transition: all 0.4s ease;
    }
    .footer-subtitle {
      margin: 0;
      padding-top: 1rem;
    }
  }
}
.icon-list__img {
  display: flex;
  align-items: center;
}

.icon-list__item,
email {
  list-style-type: none;
  padding-top: 0.5rem;
  text-decoration: none;
  font-weight: 500;
}

.icon-list__item,
a {
  text-decoration: none;
  color: rgb(185, 184, 184);
}
