$aos-distance: 100px;
@import "node_modules/aos/src/sass/aos";

$black-acadia: #1b1404;
$grey-scorpion: #5e5e5e;
$grey-emperor: #4f4a4a;

@mixin text($size: null, $lineHeight: null, $weight: null) {
  @if $size != null {
    font-size: $size;
  }

  @if $lineHeight != null {
    line-height: $lineHeight;
  }

  @if $weight != null {
    font-weight: $weight;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == xtralarge {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (max-width: 973px) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media (max-width: 700px) {
      @content;
    }
  }

  @if $breakpoint == small {
    @media (max-width: 618px) {
      @content;
    }
  }

  @if $breakpoint == mobile_medium {
    @media (max-width: 488px) {
      @content;
    }
  }

  @if $breakpoint == mobile_small {
    @media (max-width: 411px) {
      @content;
    }
  }
  @if $breakpoint == mobile_extrasmall {
    @media (max-width: 360px) {
      @content;
    }
  }
}

.project--container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 12rem;

  @include respond(small) {
    margin: 0 4rem;
  }

  @include respond(mobile_small) {
    margin: 0 1rem;
  }
  @include respond(mobile_medium) {
    margin: 0 1rem;
  }
  .featured-projects {
    font-size: 3rem;
    color: $grey-scorpion;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-right: 2rem;
    @include respond(small) {
      margin-top: 10rem;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  .rounded {
    margin: 0 auto;
    max-width: 1200px;
    margin: 2rem;
    margin-top: 4rem;
    // margin-bottom: 8rem;
  }

  .rounded2 {
    margin: 0 auto;
    max-width: 1200px;
    margin: 2rem;
    margin-top: 8rem;
    // margin-bottom: 8rem;
  }

  .projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    @include respond(xtralarge) {
      justify-content: space-around;
    }
    @include respond(large) {
      flex-direction: column;
    }
    @include respond(mobile_medium) {
      margin: 0;
      padding: 0;
    }
    &__img .myimage {
      max-width: 90%;

      @include respond(large) {
        max-width: 600px;
        margin-bottom: 2rem;
      }

      @include respond(small) {
        max-width: 450px;
      }

      @include respond(mobile_medium) {
        max-width: 400px;
      }
      @include respond(mobile_small) {
        max-width: 320px;
      }
      @include respond(mobile_extrasmall) {
        max-width: 300px;
      }
    }

    &__content {
      width: 1200px;
      padding-top: 2rem;
      margin: 0 3rem;
      @include respond(xtralarge) {
        max-width: 490px;
      }
      @include respond(large) {
        margin-bottom: 4em;
      }

      @include respond(small) {
        max-width: 380px;
      }
      @include respond(mobile_medium) {
        max-width: 310px;
        padding: 0;
      }
      @include respond(mobile_small) {
        max-width: 250px;
        padding: 0;
      }
    }

    &__title {
      color: $black-acadia;
      @include text($size: 3rem, $weight: 600);
      // MQ
      @include respond(xtralarge) {
        @include text($size: 2.5rem, $weight: 600);
      }
      @include respond(medium) {
        @include text($size: 3rem, $weight: 600);
      }
      @include respond(mobile_medium) {
        @include text($size: 2.2rem, $weight: 500);
      }
      @include respond(mobile_small) {
        @include text($size: 1.8rem, $weight: 500);
      }
    }

    &__subtitle {
      @include text(1.4rem, 2.5rem, 400);
      color: $grey-scorpion;
      // MQ
      @include respond(xtralarge) {
        @include text(1.2rem, 2rem, 300);
      }
    }

    &__icons {
      display: flex;
      width: 200px;
    }

    &__Iconitem {
      padding-right: 1rem;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;

      @include respond(mobile_small) {
        padding-right: 0.4rem;
      }
    }
  }
}

// media queries
