.project1-container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 12rem;

  .featured-projects {
    padding-bottom: 2rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #727272;
    @media (max-width: 1250px) {
      margin: 0 5rem;
      font-size: 3rem;
    }
    @media (max-width: 975px) {
      text-align: center;
    }
  }
  .rounded {
    border-top: 1px solid #bbb;
    border-radius: 5px;
    @media (max-width: 1250px) {
      margin: 0 0.2rem;
      margin-top: 5rem;
    }
  }
  .rounded-2 {
    border-top: 1px solid #bbb;
    border-radius: 5px;
    @media (max-width: 1250px) {
      margin: 0 5rem;
      margin-top: 5rem;
    }
  }
  .projects-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5rem;

    @media (max-width: 1250px) {
      margin: 0 3rem;
      column-gap: 5rem;
    }
    @media (max-width: 975px) {
      display: flex;
      flex-direction: column;
    }

    .image2 {
      max-width: 550px;
      @media (max-width: 1201px) {
        max-width: 490px;
      }
      @media (max-width: 1080px) {
        max-width: 410px;
      }
    }

    .content-1 {
      max-width: 500px;
      @media (max-width: 1201px) {
        font-size: 1rem;
        padding-right: 3rem;
      }
      @media (max-width: 1080px) {
        font-size: 0.9rem;
      }
      @media (max-width: 975px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 0;
      }
      .Ecommerce-title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1.3rem;
        @media (max-width: 1250px) {
          font-size: 2.1rem;
        }

        @media (max-width: 975px) {
          margin-top: 1rem;
          font-weight: 700;
          color: #727272;
        }
      }
      .Ecommerce-subtitle-1 {
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: #808080;
        @media (max-width: 1250px) {
          font-size: 1rem;
        }
        @media (max-width: 975px) {
          margin-top: 0.5rem;
          color: #000000;
          font-weight: 100;
          font-size: 1.2rem;
        }
      }
      .Ecommerce-subtitle-2 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #111111;
        padding-bottom: 1rem;
        @media (max-width: 1250px) {
          font-size: 1rem;
        }
        @media (max-width: 975px) {
          margin-top: 0.5rem;
          color: #4e4e4e;
          font-weight: 200;
          font-size: 1rem;
          font-style: italic;
        }
      }
      .icon-list-container {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        padding-top: 1.2rem;

        @media (max-width: 975px) {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }

      .icon-list__img {
        margin-right: 1rem;
      }
    }

    .content-1 {
      @media (max-width: 975px) {
        text-align: center;
        padding-right: 0;
      }

      line-height: 1.9rem;
      .social-media-title {
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1.4rem;
        @media (max-width: 1201px) {
          font-size: 2.2rem;
        }
        @media (max-width: 975px) {
          color: #727272;
          font-weight: 700;
          font-size: 2.1rem;
        }
      }

      .social-media-subtitle-1 {
        @media (max-width: 975px) {
          margin-top: 0.5rem;
          color: #000000;
          font-weight: 100;
          font-size: 1.2rem;
        }
      }

      .social-media-subtitle-2 {
        @media (max-width: 975px) {
          margin-top: 0.5rem;
          color: #4e4e4e;
          font-weight: 200;
          font-size: 1rem;
          font-style: italic;
        }
        margin-bottom: 2rem;
      }
    }

    // Icons
    .content-2-icons {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      .icon-list__img {
        margin-right: 1rem;
        font-size: 1.2rem;
      }
      @media (max-width: 1235px) {
        font-size: 0.5rem;
      }
      @media (max-width: 975px) {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }

    .content-3-icons {
      @media (max-width: 975px) {
        display: flex;
        justify-content: center;
        text-align: center;
      }
      display: flex;
      align-items: center;
      padding-top: 1.2rem;
      .icon-list__img {
        font-size: 1.2rem;
        margin-right: 1rem;
      }
    }

    .projectimage-1 {
      @media (max-width: 1085px) {
        width: 39%;
      }
    }
  }
}
