.services-container {
  padding-top: 6rem;

  .myservices-title {
    padding-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #727272;
    margin: 0 auto;
    max-width: 1200px;
  }
  .service-content {
    position: relative;
    .tech-icon-container {
      .tech-icon {
        font-size: 5rem;
        position: relative;
        text-align: center;
        padding-top: 2.2rem;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        // pen title
        .pen {
          max-width: 500px;
          .pen-title {
            font-size: 2rem;
            text-align: center;
            color: #efefef;
          }

          .pen-subtitle {
            font-size: 1.2rem;
            text-align: center;
            color: #efefef;
          }
        }
        // pc title
        .pc {
          max-width: 500px;
          grid-column: 2;

          .pc-title {
            font-size: 2rem;
            text-align: center;
            color: #efefef;
          }

          .pc-subtitle {
            font-size: 1.2rem;
            text-align: center;
            color: #efefef;
          }
        }
      }
    }

    .rounded::after {
      border-top: 1px solid #bbb;
      border-radius: 5px;
    }

    .Bgseperator {
      width: 100%;
      height: 400px;
      position: absolute;
      top: 0;
    }
  }
}
.ready-to-talk {
  text-align: center;
  margin-top: 5rem;
  font-weight: 500;
  font-size: 5.5rem;
}
