.navbarcontainer {
  background-color: #161616;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  .nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: rgb(240, 240, 240);
      font-size: 1.5rem;
      align-items: center;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 1rem;
  }

  .navbar__link {
    margin: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
    color: #f3f3f3;
    border-bottom: 3px solid transparent;
  }
  font-weight: 400;

  .navbar__link:hover {
    transform: translateY(-1px);
    color: #e0dfdf;
  }

  .navbar__link--active {
    overflow: hidden;
    border-bottom: 3px solid #395ab0;
    transition: border-bottom 0.5s ease 0s;
  }
}

.navbarcontainer.active {
  background: #395ab0;
  transition: 1500ms ease-in-out;

  .navbar__link {
    font-size: 1.3rem;
    margin: 1.2rem;
    transition: 300ms ease-in-out;
    margin-top: 0.3rem;
  }

  .navbar__link--active {
    border-bottom: 3px solid #ffffff;
  }
}
